<form (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <input
            type="text"
            [(ngModel)]="product.name"
            name="name"
            class="form-control"
            placeholder="Tên sản phẩm"
        />
    </div>
    <div class="mb-3">
        <input
            type="number"
            [(ngModel)]="product.price"
            name="price"
            class="form-control"
            placeholder="Giá sản phẩm"
        />
    </div>
    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>
